vendor/autoload.php
vendor/bramus/router/.gitignore
vendor/bramus/router/.php_cs.dist
vendor/bramus/router/CHANGELOG.md
vendor/bramus/router/composer.json
vendor/bramus/router/LICENSE
vendor/bramus/router/phpunit.xml.dist
vendor/bramus/router/README.md
vendor/bramus/router/.github/workflows/CI.yml
vendor/bramus/router/demo/.htaccess
vendor/bramus/router/demo/index.php
vendor/bramus/router/demo-multilang/.htaccess
vendor/bramus/router/demo-multilang/index.php
vendor/bramus/router/src/Bramus/Router/Router.php
vendor/bramus/router/tests/bootstrap.php
vendor/bramus/router/tests/RouterTest.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
elevador.serialized